body {
  background-color: #f2f6f5;
}
hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: gray;
  width: 5%;
}
h1{
  color: #293462;
}
h3{
  color: #293462;
}
.profile-pic{
  border-radius:50%;
}
